.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.racer_table td {
  opacity: 1.0;
  padding: 0;
  height: 120px;
  width: 120px;
}

.racer_table img {
  display: none;
  padding: 0;
  margin: 0;
}

.racer_table td.active {
  background-repeat: no-repeat;
}

#player1_strip td.active {
  background-image: url('../media/16bit_princesses/anna_final.gif');
}

#player2_strip td.active {
  background-image: url('../media/16bit_princesses/elsa.gif');
}

/*.racer_table td.active {
  background-color: black;
}*/

#finish_line_1, #finish_line_2 {
  background-image: url('../media/16bit_princesses/finish_line.jpeg');
}

.winner {
  font-size: 48px;
  color: white;
  font-family: copperplate;
}

body {
  background-image: url('../media/16bit_princesses/frozen_field.jpg');
  background-repeat: no-repeat;
}
