<div class="container">
	
	<div id="winner" class="winner">
		<h3>Princess Racer!</h3>	
	</div>

	<table class="racer_table">
	<br></br>
	<button id="new_game">New Game</button>
	<br></br>
		<tr id="player1_strip">
			<td class="p1" id="start1"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="finish_line_1"></td>
		</tr>
		<tr id="player2_strip">
			<td class="p2" id="start2"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="finish_line_2"></td>
		</tr>
	</table>
	<br></br>
	<br></br>
</div>
